# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026, Ramon F. Kolb (kx1t) and contributors

# Required minimum setup
STREAM1090_DEVICE=rtlsdr
STREAM1090_SERIAL=00000001

# Optional general settings
# STREAM1090_SAMPLE_RATE=2.4
# STREAM1090_UPSAMPLE_RATE=8
# STREAM1090_ENABLE_IQ_FILTER=false
# STREAM1090_TAPS_FILE=
# STREAM1090_VERBOSE=false
# STREAM1090_OUTPUT_HOST=0.0.0.0
# STREAM1090_OUTPUT_PORT=30001

# Shared device settings
# STREAM1090_FREQUENCY=1090000000
# STREAM1090_BIAS_TEE=false

# RTL-SDR options
# STREAM1090_RTL_GAIN=
# STREAM1090_RTL_AGC=true
# STREAM1090_RTL_PPM=
# STREAM1090_RTL_TUNER_BANDWIDTH=
# STREAM1090_RTL_LNA_GAIN=
# STREAM1090_RTL_MIXER_GAIN=
# STREAM1090_RTL_VGA_GAIN=

# Airspy options
# STREAM1090_AIRSPY_LINEARITY_GAIN=16
# STREAM1090_AIRSPY_SENSITIVITY_GAIN=
# STREAM1090_AIRSPY_LNA_GAIN=
# STREAM1090_AIRSPY_MIXER_GAIN=
# STREAM1090_AIRSPY_VGA_GAIN=
